section {
  width: 100%;
  max-width: 800px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
  margin-left: auto;
  padding: 1.5em;
}

aside {
  width: 100%;
}

article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: black;
}

article > * + * {
  margin-top: 1em;
  display: block;
}

article h1 {
  font-family: 'Crete Round', serif;
  letter-spacing: 1px;
}

article li a {
  display: inline-block;
  padding: 0.2em 0.5em;
  margin-bottom: 0.4em;
}

img {
  width: 100%;
}

@media (max-width: 768px) {
  section {
    flex-wrap: wrap;
  }
}